* {
  font-family: 'Museo Sans Cyrl', sans-serif; }

.container {
  max-width: 950px;
  margin: 0 auto; }

.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../img/bg/bg.png) center center/cover no-repeat; }
  .promo__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 90px; }
  .promo__header {
    color: #FFF;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 42px; }
  .promo__subheader {
    color: #FFF;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase; }
  .promo__icons {
    margin-top: 65px;
    width: 425px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .promo__icon {
    width: 106px;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase; }
    .promo__icon img {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px; }
  .promo__link {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    margin-top: 18px; }
    .promo__link a {
      color: #FFF;
      -webkit-text-decoration-line: underline;
              text-decoration-line: underline;
      text-transform: uppercase; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__logo {
    width: 250px; }
    .header__logo img {
      width: 100%; }
  .header__official {
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    text-align: center; }
    .header__official span {
      display: block;
      font-size: 18px; }
  .header__phone {
    display: block;
    color: #FFF;
    font-size: 18px;
    font-weight: 700; }
    .header__phone:hover {
      color: #fff;
      text-decoration: none; }
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }

.button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #c70101;
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase; }
  .button_main {
    margin-top: 67px;
    width: 300px;
    height: 50px;
    font-size: 16px; }

.advantages {
  padding: 70px 0 80px 0;
  background-color: #f6f6f6; }
  .advantages .title {
    color: #0D0D0D;
    text-align: center;
    font-size: 30px;
    font-weight: 700; }
  .advantages__wrapper {
    margin-top: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 238px; }
  .advantages__subtitle {
    margin-top: 38px;
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 700; }
  .advantages__descr {
    margin-top: 26px;
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 300;
    text-align: center; }
    .advantages__descr a {
      color: #F00;
      font-family: MuseoModerno;
      -webkit-text-decoration-line: underline;
              text-decoration-line: underline; }

.carousel {
  padding: 81px 0; }
  .carousel__inner {
    position: relative;
    width: 750px;
    margin: 0 auto; }
  .carousel .slick-prev {
    position: absolute;
    border: none;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    left: -66px;
    background-color: #FFF; }
    .carousel .slick-prev img {
      width: 31px;
      height: 50px; }
  .carousel .slick-next {
    position: absolute;
    border: none;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    right: -66px;
    background-color: #FFF; }
    .carousel .slick-next img {
      width: 31px;
      height: 50px; }

/*# sourceMappingURL=style.css.map */